$color--background: #eef0f5;

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}

.view{
  background-color: $color--background;
  width:95%; 
  border: none;
  margin:2.5rem auto; 
  display:flex;
  flex-direction:column; 
}
