.stageSelector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem;
  padding-bottom: 2rem;
  border-bottom: 5px solid #CFD3DE;
}

.stageSelector__title {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: #5E72E4;
}

.stageSelector__stages {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 2rem;
}

.stageSelector__stages__elem {
  margin-right: 1.5rem;
  padding: 0.75rem;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  border: 3px solid #5E72E4;
  border-radius: 2px;
  color: #5E72E4;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px;
  cursor: pointer;
}

.stageSelector__stages__elem:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  color: #eef0f5;
  background-color: #5E72E4;
  font-weight: 1000;
}

.stageSelector__stages__elem:active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.stageSelector__stages__elem.active {
  color: #eef0f5;
  background-color: #5E72E4;
  font-weight: 1000;
}
